@charset "utf-8";

$pc: 1000px;
$tb: 768px;
$sp: 640px;

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tb {
  @media (max-width: ($tb)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

// 各ページごとに設定*下層header
.nav_lowerpage {
  .navWrap {
    .navWrap__in {
      .nav_lowerpage_ttl {
        &.position {
          &::after {
            content: "" !important;
            position: absolute !important;
            bottom: 2px !important;
            left: 0% !important;
            width: 30% !important;
            height: 2px !important;
            background-color: #92214d !important;
            transform: translate(113%, 0) !important;
          }
          &:hover {
            &::after {
              transform: translate(113%, 0) !important;
            }
          }
        }
      }
    }
  }
}

// 各ページごとに設定*footer
.foot-navi {
  .foot-navi__in {
    li {
      &.access {
        a {
          &::after {
            content: "" !important;
            position: absolute !important;
            bottom: 0 !important;
            left: 0 !important;
            width: 100% !important;
            height: 2px !important;
            background-color: #92214d !important;
            transform: translate(0, 0) !important;
            @include pc {
              display: none !important;
            }
          }
        }
      }
    }
  }
}
.pc-menu-wrap {
  height: 0;
}
.pc-menu-wrap .pc-header_second .pc-header_second__in h1 {
  color: #fff;
}
.mv {
  margin-bottom: 120px;
}
.mv .image {
  position: relative;
}

.intro {
  text-align: center;
  max-width: 696px;
  margin: 0 auto 120px;
  .img01 {
    max-width: 500px;
    margin: 0 auto 40px;
  }
  .img02 {
    max-width: 500px;
    margin: 0 auto 120px;
  }
  .img03 {
    margin-bottom: 20px;
  }
  .lead {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 60px;
  }
  .images {
    max-width: 600px;
    margin: auto;
    .img-tit {
      text-align: left;
      font-size: 16px;
      margin-bottom: 10px;
    }
    .caps {
      text-align: right;
      font-size: 11px;
      margin-top: 10px;
    }
  }
} //intro

.sec01 {
  text-align: center;
  background: #173449;
  padding: 120px 0;
  color: #fff;
  .wrap {
    max-width: 620px;
    margin: auto;
  }
  .img01 {
    max-width: 232px;
    margin: 0 auto 30px;
  }
  .txt {
    font-size: 32px;
    line-height: 1.5;
    margin-bottom: 30px;
    span {
      font-size: 40px;
    }
  }
  .lead {
    text-align: left;
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 60px;
  }
  .img-tit {
    font-size: 28px;
    margin-bottom: 20px;
    span {
      font-size: 15px;
    }
  }
  .caps {
    font-size: 12px;
    margin-top: 20px;
  }
} //sec01

.sec02 {
  text-align: center;
  background: #173449;
  padding: 120px 0;
  color: #fff;
  .wrap {
    max-width: 778px;
    margin: auto;
  }
  .tit01 {
    max-width: 490px;
    margin: auto;
  }
  .lead {
    font-size: 16px;
    line-height: 2;
    margin: 40px auto 50px;
  }
  .img01 {
    margin-bottom: 140px;
  }
  .tit02 {
    max-width: 700px;
    margin: auto;
  }
  .txt {
    font-size: 32px;
    line-height: 1.6;
    color: #f4d272;
    margin-bottom: 40px;
    span {
      font-size: 24px;
    }
  }
  .img02 {
    max-width: 600px;
    margin: 0 auto 40px;
  }
  .img-tit {
    max-width: 600px;
    text-align: left;
    font-size: 18px;
    margin: 0 auto 10px;
  }
  .img03 {
    max-width: 600px;
    margin: 0 auto;
  }
} //sec02
.sec03 {
  text-align: center;
  background: #f7f7f7;
  padding: 120px 0;
  .wrap {
    max-width: 1040px;
    margin: auto;
  }
  .tit {
    font-size: 32px;
    line-height: 1.5;
    margin-bottom: 60px;
  }
  .list {
    li {
      display: inline-block;
      width: 48%;
      margin-right: 2%;
    }
    li:last-child {
      margin: auto;
    }
  }
} //sec03
.sec04 {
  text-align: center;
  background: #173449;
  color: #fff;
  padding: 120px 0;
  .tit {
    font-size: 32px;
    line-height: 1.5;
    margin-bottom: 40px;
  }
  .lead {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 60px;
  }
  .img01 {
    max-width: 390px;
    margin: 0 auto 80px;
  }
  .txt {
    max-width: 460px;
    margin: 0 auto 60px;
  }
  .img02 {
    max-width: 780px;
    margin: auto;
  }
} //sec04
.sec05 {
  text-align: center;
  background: #f7f7f7;
  padding: 120px 0;
  .tit {
    font-size: 32px;
    line-height: 2;
    margin-bottom: 40px;
  }
  .lead {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 60px;
  }
  .img01 {
    max-width: 330px;
    margin: 0 auto 120px;
  }
  .img02 {
    max-width: 920px;
    margin: auto;
  }
} //sec05
.sec06 {
  display: none;
  text-align: center;
  background: #1e4543;
  color: #fff;
  padding: 120px 0;
  .tit {
    font-size: 32px;
    margin-bottom: 40px;
  }
  .box {
    max-width: 780px;
    margin: 0 auto 10px;
    padding: 40px 65px;
    box-sizing: border-box;
    background: #d8d8d8;
    color: #173449;
    li {
      text-align: left;
      display: inline-block;
      vertical-align: top;
      width: 64%;
      margin-right: 3%;
    }
    li:last-child {
      width: 32%;
      margin: auto;
    }
    .parson {
      font-size: 20px;
      margin-bottom: 30px;
    }
    .lead {
      font-size: 11px;
      line-height: 2;
    }
    .image {
      position: relative;
    }
  }
}

@media screen and (max-width: 768px) {
  .wrap {
    width: 90%;
    margin: auto;
  }
  .mv {
    margin-bottom: 60px;
  }
  .intro {
    width: 90%;
    margin: 0 auto 60px;
    .img01 {
      max-width: 224px;
      margin: 0 auto 40px;
    }
    .img02 {
      max-width: 500px;
      margin: 0 auto 40px;
    }
    .lead {
      text-align: left;
      margin-bottom: 40px;
    }
    .images {
      .img-tit {
        font-size: 14px;
      }
    }
  } //intro

  .sec01 {
    padding: 60px 0 40px;
    .txt {
      font-size: 24px;
      span {
        font-size: 30px;
      }
    }
    .lead {
      margin-bottom: 40px;
    }
    .img-tit {
      font-size: 24px;
    }
    .caps {
      font-size: 12px;
      margin-top: 20px;
    }
  } //sec01

  .sec02 {
    padding: 40px 0 60px;
    .tit01 {
      max-width: 272px;
      margin: auto;
    }
    .lead {
      text-align: left;
      margin: 20px auto 40px;
      br {
        display: none;
      }
    }
    .img01 {
      margin-bottom: 80px;
    }
    .tit02 {
      max-width: 312px;
      margin: auto;
    }
    .txt {
      text-align: left;
      br {
        display: none;
      }
    }
    .img02 {
      max-width: 320px;
      margin: 0 auto 40px;
    }
  } //sec02
  .sec03 {
    padding: 60px 0;
    .tit {
      text-align: left;
      margin-bottom: 40px;
      br {
        display: none;
      }
    }
    .list {
      li {
        display: block;
        width: 100%;
        margin: auto;
      }
      li:last-child {
        margin-top: 20px;
      }
    }
  } //sec03
  .sec04 {
    padding: 60px 0;
    .tit {
      text-align: left;
      font-size: 24px;
      &.center {
        text-align: center;
      }
    }
    .lead {
      text-align: left;
      margin-bottom: 40px;
      br {
        display: none;
      }
    }
    .txt {
      max-width: 286px;
      margin: 0 auto 40px;
    }
  } //sec04
  .sec05 {
    padding: 60px 0;
    .tit {
      text-align: left;
      margin-bottom: 20px;
      br {
        display: none;
      }
    }
    .lead {
      text-align: left;
      margin-bottom: 40px;
    }
    .img01 {
      max-width: 280px;
      margin: 0 auto 80px;
    }
  } //sec05
  .sec06 {
    padding: 60px 0;
    .tit {
      text-align: left;
    }
    .box {
      padding: 40px 20px;
      box-sizing: border-box;
      li {
        text-align: left;
        display: block;
        width: 100%;
        margin: auto;
      }
      li:last-child {
        width: 100%;
        margin: 20px auto 0;
      }
      .parson {
        font-size: 20px;
        margin-bottom: 20px;
      }
    }
  }
} //sp
